.disable {
  background: #c9c9c9 !important;
  pointer-events: none;
  color: #2e2e2e !important;
}
#selectedPlayers {
  list-style: auto;
}

.budget-div label {
  color: #fff;
}

.budget-div input {
  width: 55%;
}
